[submodule "Lab1/vgg16_forward"]
	path = Lab1/vgg16_forward
	url = git@github.com:rwe0214/vgg16_forward.git
[submodule "Lab1/googLeNet"]
	path = Lab1/googLeNet
	url = git@github.com:rwe0214/googLeNet.git
